---
layout: default
---
<h2 class="subtitle">All courses from site data</h2>

<div class="columns">
  <%= yield %>
</div>

<div class="columns">
  <div class="column is-3">
    <ul>
      <% collections.courses.resources.each do |course| %>
        <li>
          <a href="<%= course.relative_url %>"><%= course.data.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
